/* beginning of one item carousel */
.multi-item-carousel {
 margin-bottom:5rem
}
.multi-item-carousel .carousel-inner {
 padding-top:.5rem;
 padding-bottom:1rem
}
.multi-item-carousel .carousel-inner .carousel-item.active,
.multi-item-carousel .carousel-item-next,
.multi-item-carousel .carousel-item-prev {
 display:block
}
.multi-item-carousel .carousel-inner .carousel-item.active,
.multi-item-carousel .carousel-inner .carousel-item-next,
.multi-item-carousel .carousel-inner .carousel-item-prev {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
.multi-item-carousel .carousel-inner .carousel-item-right.active,
.multi-item-carousel .carousel-inner .carousel-item-next {
 -webkit-transform:translateX(100%);
 transform:translateX(100%)
}
@media(min-width:768px) {

  .multi-item-carousel .store-product-list-per-row-1 .carousel-item-right.active,
  .multi-item-carousel .store-product-list-per-row-1 .carousel-item-next {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
}
@media(min-width:768px) {

  .multi-item-carousel .store-product-list-per-row-2 .carousel-item-right.active,
  .multi-item-carousel .store-product-list-per-row-2 .carousel-item-next {
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
  }
}
@media(min-width:768px) {
 .multi-item-carousel .store-product-list-per-row-3 .carousel-item-right.active,
 .multi-item-carousel .store-product-list-per-row-3 .carousel-item-next {
  -webkit-transform:translateX(33%);
  transform:translateX(33%)
 }
}
@media(min-width:768px) {

  .multi-item-carousel .store-product-list-per-row-4 .carousel-item-right.active,
  .multi-item-carousel .store-product-list-per-row-4 .carousel-item-next {
    -webkit-transform: translateX(25%);
    transform: translateX(25%)
  }
}
@media(min-width:768px) {

  .multi-item-carousel .store-product-list-per-row-6 .carousel-item-right.active,
  .multi-item-carousel .store-product-list-per-row-6 .carousel-item-next {
    -webkit-transform: translateX(16.67%);
    transform: translateX(16.67%)
  }
}
.multi-item-carousel .carousel-inner .carousel-item-left.active,
.multi-item-carousel .carousel-inner .carousel-item-prev {
 -webkit-transform:translateX(-100%);
 transform:translateX(-100%)
}
@media(min-width:768px) {

  .multi-item-carousel .store-product-list-per-row-1 .carousel-item-left.active,
  .multi-item-carousel .store-product-list-per-row-1 .carousel-item-prev {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
@media(min-width:768px) {

  .multi-item-carousel .store-product-list-per-row-2 .carousel-item-left.active,
  .multi-item-carousel .store-product-list-per-row-2 .carousel-item-prev {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}
@media(min-width:768px) {
 .multi-item-carousel .store-product-list-per-row-3 .carousel-item-left.active,
 .multi-item-carousel .store-product-list-per-row-3 .carousel-item-prev {
  -webkit-transform:translateX(-33%);
  transform:translateX(-33%)
 }
}
@media(min-width:768px) {

  .multi-item-carousel .store-product-list-per-row-4 .carousel-item-left.active,
  .multi-item-carousel .store-product-list-per-row-4 .carousel-item-prev {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%)
  }
}
@media(min-width:768px) {

  .multi-item-carousel .store-product-list-per-row-6 .carousel-item-left.active,
  .multi-item-carousel .store-product-list-per-row-6 .carousel-item-prev {
    -webkit-transform: translateX(-16.67%);
    transform: translateX(-16.67%)
  }
}
.multi-item-carousel .carousel-inner .carousel-item-right,
.multi-item-carousel .carousel-inner .carousel-item-left {
 -webkit-transform:translateX(0);
 transform:translateX(0)
}
.multi-item-carousel .carousel-indicators li {
 width:1.25rem;
 max-width:1.25rem;
 height:1.25rem;
 margin-bottom:-3.75rem;
 background-color:#4285f4
}
.multi-item-carousel .carousel-indicators .active {
 width:1.56rem;
 max-width:1.56rem;
 height:1.56rem;
 background-color:#4285f4;
 border-radius:50%
}
.multi-item-carousel .controls-top {
 margin-bottom:1.88rem;
 text-align:center
}
.multi-item-carousel .controls-top .btn-floating {
 background:#4285f4
}
.multi-item-carousel .carousel-indicators {
 margin-bottom:-1em
}
.multi-item-carousel .card-cascade.narrower {
 margin-top:1.25rem;
 margin-bottom:.3rem
}
@media(min-width:768px) {
 .multi-item-carousel [class*="col-"] {
  float:left
 }
}
@media only screen and (max-width:992px) {
 .multi-item-carousel .carousel-indicators li {
  margin-bottom:-1.88rem
 }
}
